<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Joke</title>
    <script src="../scripts/view/jokes.js" type="module" defer></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/otherPagesHeaderStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h2 class="title">Jokes App</h2>
            <div id="menu"></div>
        </header>

        <main>
            <div class="spacer"></div>
            <div>
                <div class="joke">
                    <p>With this app you can store and manage your own jokes by category!</p>
                    <p> *You can always go to the main page clicking on the clown icon.</p>
                    <p>Author: Elias Monzon - Bachelor in Web Design & Development.</p>
                </div>
                <span><a href="categories.html">go back</a></span>
            </div>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>

    </div>
</body>

</html>