<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Add a New Category</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h1 class="title">Jokes App</h1>
            <div id="menu">
                <img src="images/hamburger-menu-24px.svg" alt="hamburger menu">
            </div>
        </header>

        <main>
            <div class="spacer"></div>
            <input type="text" maxlength="20" minlength="2" placeholder="Your new joke category..." required>
            <button type="submit" onclick="window.location.href='addNewJoke.html'">Create Category!</button>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>
        
    </div>
</body>

</html>