<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Add a New Category</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/otherPagesHeaderStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="../scripts/controller/main.js" type="module" defer></script>
    <script src="../scripts/view/addNewJoke.js" type="module"></script>
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h2 class="title">Jokes App</h2>
            <div id="menu">
                <a href="about.html"><img src="images/hamburger-menu-24px.svg" alt="hamburger menu"></a>
            </div>
        </header>

        <main>
            <div class="spacer"></div>
            <p id="jokesOnCat"></p>
            <input id="addJokeInp" type="text" class="button" maxlength="200" minlength="5" placeholder="Your new joke..." required>
            <button id="addJokeBtn" type="submit" class="button submit"></button>
            <span><a href="categoriesAddMode.html">go back</a></span>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>
        
    </div>
</body>

</html>