<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Joke</title>
    <script src="../scripts/controller/main.js" type="module" defer></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/otherPagesHeaderStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h2 class="title">Jokes App</h2>
            <div id="menu">
                <img src="images/hamburger-menu-24px.svg" alt="hamburger menu">
            </div>
        </header>

        <main>
            <div class="spacer"></div>
            <div id="joke">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ut, nulla obcaecati tenetur sequi excepturi provident quidem fugit doloribus quisquam,
                    impedit dolore illo, distinctio earum alias consequatur minima! Dolor, doloribus quae?</p>
                <div id="prevNext">
                    <img src="images/skip_previous-24px.svg" alt="previous button">
                    <img src="images/skip_next-24px.svg" alt="next button">
                </div>
            </div>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>

    </div>
</body>

</html>