<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Joke</title>
    <script src="../scripts/view/jokes.js" type="module" defer></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/otherPagesHeaderStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h2 class="title">Jokes App</h2>
            <div id="menu">
                <a href="about.html"><img src="images/hamburger-menu-24px.svg" alt="hamburger menu"></a>
            </div>
        </header>

        <main>
            <div class="spacer"></div>
            <div>
                <span id="goBack"></span>
                <p id="jokesOnCat"></p>
                <p id="joke" class="joke"></p> 
                <div id="prevNext">
                    <img id="pre" src="images/skip_previous-24px.svg" alt="previous button">
                    <span id="p"></span>
                    <img id="nex" src="images/skip_next-24px.svg" alt="next button">
                    <span id="n"></span>
                </div>
                <span><a href="categories.html">go back</a></span>
            </div>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>

    </div>
</body>

</html>