<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Main Page</title>
    <script src="../scripts/controller/main.js" defer type="module"></script>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <!--Left Top Wave-->
            <div id="leftTopWave">
                <img src="images/topLeftWaves.svg" alt="top left decoration">
            </div>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo">
                <h2 class="title">Jokes App</h2>
            </div>
            <div id="spacer"></div>
        </header>
        <main>
            <div class="spacer"></div>
            <a href="categories.html" id="goJokes" class="button"> Go to Jokes!</a>
            <a href="categoriesAddMode.html" id="addJoke" class="button submit">Add a Joke</a>
        </main>
        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>
    </div>
</body>

</html>