<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App Search or See Jokes</title>
    <script src="../scripts/controller/main.js" defer type="module"></script>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/otherPagesHeaderStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

        <header>
            <!--Clown Logo-->
            <div id="clown">
                <img src="images/clown.svg" alt="clown logo" onclick="window.location.href='mainPage.html'">
            </div>
            <!--App Title-->
            <h2 class="title">Jokes App</h2>
            <div id="menu">
                <img src="images/hamburger-menu-24px.svg" alt="hamburger menu">
            </div>
        </header>

        <main>
            <div class="spacer"></div>
            <button type="button"  onclick="window.location.href='categories.html'">Search by Category?</button>
            <button type="button">See All the Jokes</button>
        </main>

        <footer>
            <div>
                <img src="images\footer\Rectangle 22.svg" alt="back footer wave">
            </div>
        </footer>

    </div>
</body>

</html>