body {
    margin: 2vw 5vw;
}
.completed {
    text-decoration: line-through;
}
ul {
    list-style-type: none;
    max-width: 50%;
}
li {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
